button {
  height: 100px;
  width: 100px;
  /* margin: 0; */
  margin: -1vw;
  font-size: 2em;
  background-color: white;
}
body {
  text-align: center;
}
table {
  margin: auto;
}

#reset {
  margin-top: 5vw;
}